<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | DI Kiosk</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="page-index">
    <header class="header">
        <div class="header__left">
        </div>
        <a class="header__middle" href="index.html">
            <img class="header__logo" src="/static/assets/title.svg">
        </a>
        <div class="header__right">
        </div>
    </header>

    <main>
        <a href="products.html" class="nav-card">
            <p class="nav-card__title">I know what i want</p>
            <p class="nav-card__sub">Choose yourself.</p>
        </a>
        <a href="ai.html" class="nav-card nav-card--primary">
            <p class="nav-card__title">Tell me what i need</p>
            <p class="nav-card__sub">Answer a few questions.</p>
        </a>
    </main>

    <footer class="footer">
        <p>Made for FS26.COMPP</p>
    </footer>
</body>
</html>