<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | DI Kiosk</title>
</head>
<body class="page_index">
    <header>
        <h1>DI Kiosk</h1>
    </header>

    <main>
        <a href="products.html">
            <p class="title">To Products</p>
            <p class="sub">Browse the menu directly</p>
        </a>
        <a href="ai.html">
            <p class="title">AI Helper</p>
            <p class="sub">Answer a few questions and<br>let the kiosk decide for you</p>
        </a>
    </main>

    <footer>
        <p>Made for FS26.COMPP</p>
    </footer>
</body>
</html>