<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products | DI Kiosk</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="page-products">
    <header class="header">
        <a class="header__left" href="javascript:history.back()">
            <img class="header__icon" src="/static/assets/arrow_left_alt_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg">
        </a>
        <a class="header__middle" href="index.html">
            <img class="header__logo" src="/static/assets/title.svg">
        </a>
        <div class="header__right">
        </div>
    </header>

    <main>
        {% for item in products %}
        
        <a class="product-card" href="/checkout.html?item_id={{ item.id }}">
            <img class="product-card__image" src="/static/assets/img/img_{{ item.id }}.png" alt="{{ item.name }}">
            <p class="product-card__name">{{ item.name }}</p>
            <p class="product-card__price">CHF {{ item.price }}</p>
        </a>
        
        {% endfor %}
    </main>

    <footer class="footer">
        <p>Made for FS26.COMPP</p>
    </footer>
</body>
</html>